@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <div class="row">
        <h1>Om oss</h1>
    </div>

    <div class="row">
        <h2>​​​​Stebra - Alltid lite bättre</h2>

        <p>
            Stebra är ett ungt och nyfiket företag som hela tiden hittar nya vägar inom informationshantering. Vi som jobbar på Stebra brinner för det agila arbetsättet och ser retrospektet som vårt främsta verktyg för att kunna leverera vårt motto, "alltid lite bättre".
        </p>
    </div>

    <div class="row">
        <h2>På Söders höjder</h2>

        <p>
            Har vi vårt kontor, närmare bestämt Brännkyrkagata 95A. Här råder alltid en hög kreativ stämning, högt tempo, med många bollar i luften, det får plats många bollar när det är högt i tak.. Kom gärna förbi på en kopp kaffe och prata med oss om vad vi kan hjälpa dig med.
        </p>
    </div>

    <div class="row">
        <h2>TEAM Stebra: ett vinnande koncept</h2>

        <p>
            Hela stebras team genomsyras av samarbete. Alla i teamet är lika viktiga och förståelsen för detta gör att vi kan samarbeta väldigt öppet och flexibelt med högt i tak. Alla vet att då det alltid finns utrymme för förbättring så höjer vi vår kvalitet och kan producera saker som vi kan vara stolta över. Rollerna i teamet överlappar varandra så att vi kan hjälpa varandra, bolla med varandra och samtidigt ha väldigt kul.
        </p>
    </div>

    <br />

    @*--------------------------- Hans ---------------------------*@
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/Employee/hasselito.jpg" />

            <p>
                <b>Hans Steffensson</b><br />
                Tel: 0732-61 46 88
            </p>
        </div>

        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>Krav 100%</b>
            </p>
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>Scrum 99%</b>
            </p>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h3 style="margin-top:0px">
                REQB-certified SCRUM master
            </h3>

            <p>
                <b>Roll i teamet: Projektledare, Scrum master, kravanalytiker</b>
            </p>

            <p>
                Hans Steffensson som är en av grundarna till stebra har ett decenium av erfarenhet inom IT och vet vilka processer och verktyg som behöver användas i varje given situation. Hans har jobbat både som projektledare och förvaltningsledare, samt har bakgrund inom design och usability.  Hans brinner för SCRUM vilket hjälper oss på stebra att hålla oss fullständigt agila och produktiva, med Hasse lilla verktygslåda för effektiv projekthantering.
            </p>
        </div>
    </div>

    <hr />

    @*--------------------------- Bertil ---------------------------*@
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/Employee/bertil.jpg" />

            <p>
                <b>Bertil Brandt</b><br />
                Tel: 0732-61 33 86
            </p>
        </div>

        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>Powershell 95%</b>
            </p>
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>SharePoint 100%</b>
            </p>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h3 style="margin-top:0px">
                SharePoint, Office365 specialist
            </h3>

            <p>
                <b>Roll i teamet: Arkitekt, Produktägare, informationskartläggare</b>
            </p>

            <p>
                Bertil Brandt som också är en av grundarna på stebra har jobbat 16 år inom IT. Bertil är också förälskad i det agila arbetssättet, verktygen, metodiken i Scrum. Det är ett effektivt sätt att hela tiden höja kvaliteten, utan att planera upp hela budgeten. I 10 år har Bertil specialiserat sig inom plattformen Sharepoint som han kan utan och innan på sina fem fingrar. Arkitekt, kravanalytiker, Informationsarkitekt, Powershellguru, MCTS, MCP, Teknisk arkitekt, workshopledare, verksamhetsutvecklare, productowner och scrummaster är bara någora av de roller han haft inom SharePoint.
            </p>
        </div>
    </div>

    <hr />

    @*--------------------------- Felix ---------------------------*@
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/Employee/felix.jpg" />

            <p>
                <b>Felix Freye</b><br />
            </p>
        </div>

        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>Design 100%</b>
            </p>
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>JavaScript 99%</b>
            </p>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h3 style="margin-top:0px">
                SharePoint, Office365 Designer
            </h3>

            <p>
                <b>Roll i teamet: Designer, Utvecklare frontend</b>
            </p>

            <p>
                Felix besitter dubbel kompetens, både som fullfjädrad Industridesigner men också ett gediget utvecklarintresse som tagit honom från IOS utveckling, och appar som "Falling Monk". Nu bygger han SharePoint appar,  som "stebras: check it in". Allt som Felix tar sig för blir gediget utfört och med noggrann precision. Med Felix vid tangentbordet blir det alltid lite bättre.
            </p>
        </div>
    </div>

    <hr />

    @*--------------------------- Simon ---------------------------*@
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/Employee/simon.jpg" />

            <p>
                <b>Simon Bergqvist</b><br />
            </p>
        </div>

        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>C# 100%</b>
            </p>
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>SharePoint Apps 100​%</b>
            </p>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h3 style="margin-top:0px">
                SharePoint, Office365 Developer
            </h3>

            <p>
                <b>Roll i teamet: Utvecklare​ och KodMentor</b>
            </p>

            <p>
                Simon en av de bättre systemutvecklarna du någonsin kommer träffa på, har extremt lätt att ta till sig nya teknologier, och delar gärna med sig av sina erfarenheter. Om du försöker namedroppa, någon häftig teknik som du läst om på en blogg, har Simon oftast kodat i det, någon månad eller så. Simon är by design "best-in-class" i allt han tar sig för. Men har ett stort mentorskap, och tar med sig sina medarbeteare på resan. Specialiserad inom SharePointutveckling.
            </p>
        </div>
    </div>

    <hr />

    @*--------------------------- Matilda ---------------------------*@
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/Employee/matilda.jpg" />

            <p>
                <b>Matilda Riting</b><br />
                Tel: 070-882 55 02
            </p>
        </div>

        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>Ledarskap 100%</b>
            </p>
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>Scrum 100​%</b>
            </p>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h3 style="margin-top:0px">
                Agil Coach, SCRUM master
            </h3>

            <p>
                <b>Roll i teamet: Projektledare, Scrum master, koordinator</b>
            </p>

            <p>
                Matilda Riting har över sju års erfarenhet av ledarskap och personlig coachning. Matilda är nyfiken som person och frågar hellre en gång för mycket än en gång för lite då hon hävdar att ovisshet hämmar kreativitet. Ingen fråga är för dum, den är bara dum om den aldrig ställs. Matilda drivs av utmaningar och älskar att driva projekt där hon får vara med från uppstart till mål. Som person är hon resultatinriktad och strävar alltid efter att bli lite bättre.
            </p>
        </div>
    </div>

    <hr />

    @*--------------------------- Alvaro ---------------------------*@
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/Employee/alle.jpg" />

            <p>
                <b>Alvaro Urbano</b><br />
            </p>
        </div>

        <div class="col-sm-3 col-xs-12">
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>C# 100%</b>
            </p>
            <img src="~/Images/gauge2.png" width="52" height="52" />
            <p>
                <b>.NET-PRO 100​%​</b>
            </p>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h3 style="margin-top:0px">
                System arkitekt, .NET Developer
            </h3>

            <p>
                <b>Roll i teamet: Arkitekt och Utvecklare</b>
            </p>

            <p>
                Alvaro Urbano, med en online.poker-platform i ryggen, är en väldigt skicklig utvecklare och problemlösare.<br />
                Han är alltid up-to-date med allt som händer i .NET-världen.
            </p>
        </div>
    </div>
</div>