@{
    ViewBag.Title = "BlogsOne";
}

<div class="container-fluid" style="padding-top:55px">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12">
                    <p><b>BlogsOne</b></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="panel panel-default col-sm-8">
                    <div class="panel-body" style="background-color:#F2EFDC; margin-top:20px;">
                        <div class="col-sm-12">
                            <div class="h3">
                                Folly words
                            </div>
                            <p>
                                Folly words widow one downs few age every seven.
                                If miss part by fact he park just shew.
                                Discovered had get considered projection who favourable.
                                Necessary up knowledge it tolerably.
                                Unwilling departure education is be dashwoods or an.
                                Use off agreeable law unwilling sir deficient curiosity instantly.
                                Easy mind life fact with see has bore ten.
                                Parish any chatty can elinor direct for former.
                                Up as meant widow equal an share least.
                            </p>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="panel panel-default col-sm-4">
                    <div class="panel-body" style="margin-top:20px; background-color:#F2EFDC">
                        <div class="col-sm-4">
                            <div class="thumbnail" style="margin-top:20px;">
                                <img class="img-responsive" style="max-height:100px" src="https://nirrep.files.wordpress.com/2014/09/incognito.jpg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="h3">
                                A. Pennyworth
                            </div>
                            <p>
                                Mr my ready guest ye after short at.
                                Gave read use way make spot how nor.
                                View fine me gone this name an rank.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>