@{
    ViewBag.Title = "BlogsThree";
}

<div class="container-fluid" style="padding-top:55px">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12">
                    <p><b>BlogsThree</b></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="panel panel-default col-sm-8">
                    <div class="panel-body" style="background-color:#C1A7A7; margin-top:20px;">
                        <div class="col-sm-12">
                            <div class="h3">
                                Two assured Edward
                            </div>
                            <p>
                                Two assure edward whence the was.
                                Who worthy yet ten boy denote wonder.
                                Weeks views her sight old tears sorry.
                                Additions can suspected its concealed put furnished.
                                Met the why particular devonshire decisively considered partiality.
                                Certain it waiting no entered is.
                                Passed her indeed uneasy shy polite appear denied.
                                Oh less girl no walk. At he spot with five of view.
                            </p>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="panel panel-default col-sm-4">
                    <div class="panel-body" style="margin-top:20px; background-color:#C1A7A7">
                        <div class="col-sm-4">
                            <div class="thumbnail" style="margin-top:20px;">
                                <img class="img-responsive" style="max-height:100px" src="https://nirrep.files.wordpress.com/2014/09/incognito.jpg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="h3">
                                C. Baine
                            </div>
                            <p>
                                Surrounded affronting favourable no mr.
                                Lain knew like half she yet joy.
                                Off fat address attacks his besides.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>