@{
    ViewBag.Title = "BlogsThree";
}

<div class="container-fluid">
    <div class="panel panel-info">

        @*--------------------------- Panel Head ---------------------------*@
        <div class="panel-heading">
            <h3 class="panel-title">Blogs Three</h3>
        </div>

        @*--------------------------- Panel Body ---------------------------*@
        <div class="panel-body">

            @*--------------------------- Blog Artical 3 ---------------------------*@
            <div class="col-sm-7 col-xs-12" style="background-color:#C1A7A7">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Two assure Edward</h3>
                        <p>
                            Two assure edward whence the was.
                            Who worthy yet ten boy denote wonder.
                            Weeks views her sight old tears sorry.
                            Additions can suspected its concealed put furnished.
                            Met the why particular devonshire decisively considered partiality.
                            Certain it waiting no entered is.
                            Passed her indeed uneasy shy polite appear denied.
                            Oh less girl no walk. At he spot with five of view.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <p class="pull-right">@Html.ActionLink("Read More", "BlogsThree", "Home") <span class="glyphicon glyphicon-chevron-right"></span></p>
                </div>
            </div>

            @*--------------------------- Blog Author 3 ---------------------------*@
            <div class="col-sm-5 col-xs-12" style="background-color:#C1A7A7">
                <div class="col-xs-3">
                    <div class="thumbnail" style="margin-top:20px;">
                        <img class="img-responsive" style="max-height:100px" src="https://nirrep.files.wordpress.com/2014/09/incognito.jpg">
                    </div>
                </div>

                <div class="col-xs-9">
                    <h3>A. Penny</h3>
                    <p>
                        Surrounded affronting favourable no mr.
                        Lain knew like half she yet joy.
                        Off fat address attacks his besides.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>