
@{
    ViewBag.Title = "BlogsTwo";
}

<div class="container-fluid" style="padding-top:55px">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12">
                    <p><b>BlogsTwo</b></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="panel panel-default col-sm-8" style="margin-bottom:0">
                    <div class="panel-body" style="background-color:#E4E0FC; margin-top:20px;">
                        <div class="col-sm-12">
                            <div class="h3">
                                Needed feebly
                            </div>
                            <p>
                                Needed feebly dining oh talked wisdom oppose at.
                                Applauded use attempted strangers now are middleton concluded had.
                                It is tried no added purse shall no on truth.
                                Pleased anxious or as in by viewing forbade minutes prevent.
                                Too leave had those get being led weeks blind.
                                Had men rose from down lady able.
                                Its son him ferrars proceed six parlors.
                                Her say projection age announcing decisively men.
                                Few gay sir those green men timed downs widow chief.
                                Prevailed remainder may propriety can and.
                            </p>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="panel panel-default col-sm-4">
                    <div class="panel-body" style="margin-top:20px; background-color:#E4E0FC">
                        <div class="col-sm-4">
                            <div class="thumbnail" style="margin-top:20px;">
                                <img class="img-responsive" style="max-height:100px" src="https://nirrep.files.wordpress.com/2014/09/incognito.jpg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="h3">
                                B. Wayne
                            </div>
                            <p>
                                Am of mr friendly by strongly peculiar juvenile.
                                Unpleasant it sufficient simplicity am by friendship no inhabiting.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

