@{
    ViewBag.Title = "BlogsTwo";
}

<div class="container-fluid">
    <div class="panel panel-info">

        @*--------------------------- Panel Head ---------------------------*@
        <div class="panel-heading">
            <h3 class="panel-title">Blogs Two</h3>
        </div>

        @*--------------------------- Panel Body ---------------------------*@
        <div class="panel-body">

            @*--------------------------- Blog Artical 2 ---------------------------*@
            <div class="col-sm-7 col-xs-12" style="background-color:#E4E0FC">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Needed feebly</h3>
                        <p>
                            Needed feebly dining oh talked wisdom oppose at.
                            Applauded use attempted strangers now are middleton concluded had.
                            It is tried ﻿no added purse shall no on truth.
                            Pleased anxious or as in by viewing forbade minutes prevent.
                            Too leave had those get being led weeks blind.
                            Had men rose from down lady able.
                            Its son him ferrars proceed six parlors.
                            Her say projection age announcing decisively men.
                            Few gay sir those green men timed downs widow chief.
                            Prevailed remainder may propriety can and.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <p class="pull-right">@Html.ActionLink("Read More", "BlogsTwo", "Home") <span class="glyphicon glyphicon-chevron-right"></span></p>
                </div>
            </div>

            @*--------------------------- Blog Author 2 ---------------------------*@
            <div class="col-sm-5 col-xs-12" style="background-color:#E4E0FC">
                <div class="col-xs-3">
                    <div class="thumbnail" style="margin-top:20px;">
                        <img class="img-responsive" style="max-height:100px" src="https://nirrep.files.wordpress.com/2014/09/incognito.jpg">
                    </div>
                </div>

                <div class="col-xs-9">
                    <h3>B. Wayne</h3>
                    <p>
                        Am of mr friendly by strongly peculiar juvenile.
                        Unpleasant it sufficient simplicity am by friendship no inhabiting.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>