@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <h1>Erbjudandet</h1>
    </div>

    <div class="row">
        <p>
            ​​Stebra Conculting levererar Moln- och konsulttjänster för att hjälpa ditt företag med dokumenthantering,  IT och Management. Teamet bakom Stebra har över tio års erfarenhet av att utveckla IT-system, kartlägga information och optimera affärsprocesser. Våra kunder är globala storföretag, myndigheter men även mindre småförtag. Vi är välrenommerade och har bland marknadens bästa kompetens inom SharePoint-lösningar och kravhantering.
        </p>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Konsulttjänster</h4>
                </div>

                <div class="panel-body mydiv">
                    <ul class="myLiPadding">
                        <li>
                            <p>Arkitekt</p>
                        </li>
                        <li>
                            <p>Kravanalys</p>
                        </li>
                        <li>
                            <p>SharePointutvecklare</p>
                        </li>
                        <li>
                            <p>förvaltningsledare</p>
                        </li>
                        <li>
                            <p>Projektledning</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Licenser</h4>
                </div>

                <div class="panel-body mydiv">
                    <ul class="myLiPadding">
                        <li>
                            <p>Office365</p>
                        </li>
                        <li>
                            <p>Azure</p>
                        </li>
                        <li>
                            <p>Intune</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Projekt</h4>
                </div>

                <div class="panel-body mydiv">
                    <ul class="myLiPadding">
                        <li>
                            <p>Förstudie</p>
                        </li>
                        <li>
                            <p>Lösningsförslag</p>
                        </li>
                        <li>
                            <p>Utveckling</p>
                        </li>
                        <li>
                            <p>Implementering</p>
                        </li>
                        <li>
                            <p>Förvaltning</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>App katalog</h4>
                </div>

                <div class="panel-body mydiv">
                    <ul class="myLiPadding">
                        <li>
                            <p>Check it in</p>
                        </li>
                        <li>
                            <p>XSS</p>
                        </li>
                        <li>
                            <p>ALB</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>