@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <h3>
                <span class="glyphicon glyphicon-ok-sign"></span>
                Talang med drivkraft
            </h3>
            <p>
                Vår främsta tillgång är våra skickliga medarbetare. Vi ingår alla i ett team där vi samarbetar dagligen. Även när vi hjälper kunder ute på plats så har vi ständigt tillgång till vårt homogena kompetensnätverk. Tillsammans blir vi alltid lite bättre - på agilt manér.
            </p>
        </div>

        <div class="col-md-4 col-xs-12">
            <h3>
                <span class="glyphicon glyphicon-ok-sign"></span>
                Samarbeta mera
            </h3>
            <p>
                Hur kan ett Intranät, en social plattform, dokumenthantering och samarbetsyta hänga ihop? Med Office365 ledsagar stebra dig som kund från behov till projekt till helhetslösning. Vi tar även hand om dig i framtiden.
            </p>
        </div>

        <div class="col-md-4 col-xs-12">
            <h3>
                <span class="glyphicon glyphicon-ok-sign"></span>
                Upp i det blå
            </h3>
            <p>
                Med siktet inställt mot molnet är det viktigt att välja rätt pilot.  Vad är rätt för din verksamhet? Vilka delar är relevanta att investera i? Kommer jag att klara mig med de komponenter som ingår i standardutbudet? Stebras gedigna erfarenhet av att bygga för molnet hjälper dig att fatta rätt beslut, Ta gärna del av våra innovativa appar som erbjuder uppskattade lösningar på kända verksamhetsproblem.
            </p>
        </div>
    </div>
</div>