
@{
    ViewBag.Title = "ProjectsTwo";
}

<h2>ProjectsTwo</h2>

<div class="container-fluid" style="padding-top:55px;">
    <!-- Projects Panel -->
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <p><b>Projects</b></p>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
        <!-- Projects Body -->
        <div class="panel-body">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-3 h4">Project Name</div>
                    <div class="col-xs-3 h4">Start Date</div>
                    <div class="col-xs-3 h4">End Date</div>
                    <div class="col-xs-3 h4">Phase</div>
                </div>
                <hr style="margin-top:10px; margin-bottom:10px;" />
            </div>
            <div class="row">
                <div class="col-xs-3">Surreal</div>
                <div class="col-xs-3">2012-10-23</div>
                <div class="col-xs-3">2015-06-07</div>
                <div class="col-xs-3">Re-Mastering</div>
            </div>
        </div>
    </div>
</div>